* {margin: 0; padding: 0;}

body {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; background-color: #272822;}

#container {width: 1050px; height: 530px; margin: 0 auto; margin-top: 5px;}

.borda {border-radius: 8px;}

nav {width: 160px; height: 530px; padding-top: 10px; line-height: 30px; margin: 5px 0 0 0; float: left; text-align: center; background-color: #494640;}

nav ul {width: 160px; list-style: none; margin: 0 auto;}

nav li {display: inline-block; margin: 0;}

nav a:link, nav a:visited {width: 160px; height: 33px; font-weight: bold; color: #FFFFFF; display: inline-block; text-decoration: none;}

nav a:hover, nav a:active, nav .active a:link, nav .active a:visited {color: #000; font-weight: bold; background: #daa520;}

section {width: 880px; height: 100%; float: right; margin: 5px 0; padding-top: 10px; background-color: #978f81;}

article {width: 853px; margin-top: 20px; margin-left: 10px; margin: 0 auto; padding: 2px 5px 2px 5px;}

.links {width: 165px; height: 70px; padding-top: 10px; margin: 2px 1.5px 2px 1.5px; border: 1px solid black; text-align: center; display: inline-block;}

.links a {text-decoration: none; color: #000; font-weight: bold;}
