* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
}

body {
	background-color: #272822;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 14px;
	//font-weight: bold;
}

#container {
	width: 985px;
	height: 500px;
	margin: 10px auto;
}

@media only screen and (max-device-width: 985px) {
  #container { width: 450px; }
}

#menu {
	float: left;
	width: 150px;
	height: 500px;
	overflow-y: scroll;
}

#sites {
	height: 500px;
	overflow-y: scroll;
}

button {
	margin-bottom: 10px;
	width: 125px;
	font-size: 16px;
	border-radius: 6px;
	padding: 5px;
	cursor: pointer;
	border: none;
}

.active { background: #069cc2; }
