- for (let i=0; i < menu.length; i++) {
		button(class="#{menu[i].category}" onclick="clickCategoria(this);")
			img(src="assets/img/png/menu/#{menu[i].icon}" width=40 height=40)
			br
			span #{menu[i].category}
		br
- }