- for (let i=0; i < menu.length; i++) {
    button(class="#{menu[i].category}" onClick="clickCategory(this);")
      img(src="assets/img/png/menu/#{menu[i].icon}" width=40 height=40)
      br
      span(class="legenda") #{menu[i].category}
    br
- }
